@font-face {
    font-family: fippsRegular;
    src: url('web\ font/fipps-regular-webfont.woff');
}
.header {
background: #f12558;
background-position: center;
margin: auto;
font-size: xx-large;
margin-top: -45px;
margin-left: -8px;
margin-right: -8px;
text-align: center;
filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.164));
color: rgb(52, 52, 52);
font-family: fippsRegular;
}
body{
background: #f1be25;    
}
img {
    max-width: 100%;
    max-height: 100%;
}
.eggWatch {
width: 600px;
height: 600px;
margin-right: auto;
margin-left: auto;
display: block;
position: relative;
right: -50px;
}
button{
max-width: 100%;
max-height: 100%;

}
#leftButton {
    width: 30px;
    height: 30px;
    background-color: #F1BE25;
    margin-left: -60px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    left: -300px;
}

#rightButton {
    background-color: #F1BE25;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    left: -120px;
}

#screen {
    height: 250px;
    width: 225px;
    background-color: rgb(113, 118, 104);
    position: relative;
    top: -450px;
    right: -130px;
    box-shadow: rgb(85, 85, 85) 3px 3px 6px 0px inset, rgba(87, 87, 87, 0.5) -3px -3px 6px 1px inset;
}
string{
font-family: fippsRegular;
font-size: small;
}
#health {
    position: relative;
    left: 10px;
    bottom: -10px;
}

#happiness {
    position: relative;
    left: 30px;
    bottom: -10px;
}

#health-bar {
    position:relative;
    width: 80px;
    height: 16px;
    border: 2px solid #000;
    left: 10px;
    top: 15px;
}

#health-bar-fill {
    height: 16px;
    background: #000;
    transition: width 0.5s;
}

#happy-bar {
    position: relative;
    width: 80px;
    height: 16px;
    border: 2px solid #000;
    left: 130px;
    bottom: 5px;
}

#happy-bar-fill {
    height: 16px;
    background: #000;
    transition: width 0.5s;
}